<template>
  <div class="bar-container">
    <div class="bar">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.bar-container {
  background-color: var(--blue-light);
}

.bar {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 10px 16px;
}
</style>
