<template>
  <div class="card">
    <div class="card__image">
      <slot  name="image"></slot>
    </div>
    <div class="card__content">
      <h4 class="card__title"><slot name="title"></slot></h4>
      <p class="card__text text-gray"><slot name="text"></slot></p>
      <div>
        <slot name="button"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.card {
  text-align: left;
  width: 100%;
}
.card__content {
  padding: 40px 40px 56px 40px;
  background-color: var(--blue-light);
}

.card__text {
  margin: 20px 0px 20px 0px;
  line-height: 24px;
}

.card__image {
  height: auto;
  width: 100%;
}

.card__image img {
  display: block;
  height: inherit;
  width: inherit;
}
</style>
