<template>
  <nav class="nav">
      <div class="nav__topbar">
          <slot name="logo"></slot>
            <button @click="$emit('close')" class="close-button"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
</svg></button>
           
      </div>
      <div class="nav__links">
                <slot name="links"></slot>
      </div>
  </nav>
</template>

<script>
export default {

}
</script>

<style scoped>
.nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: var(--blue-dark);

}

.nav__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}

.nav__links {
    padding: 0px 16px
}

.close-button {
    background-color: transparent;
}

.close-button svg {
    width: 32px;
    height: 32px;
    color: white;
}

</style>