<template>
  <div class="banner">
    <p class="logo">Website</p>
    <button class="btn btn-orange">Demo aanvragen</button>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 32px 0px;
  border-top: solid 1px rgba(14, 78, 173, 0.1);
  border-bottom: solid 1px rgba(14, 78, 173, 0.1);
}
</style>
