<template>
  <div class="demo-card">
    <h3>Vraag nu jouw demo aan en leer alles over lasermachines!</h3>
    <p class="demo-card__text text-normal text-gray">
      Fucse dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa
    </p>
    <div class="demo-card__inner">
      <div>
        <ul class="demo-card__feature-list">
          <li class="demo-card__feature">Bij ons op locatie</li>
          <li class="demo-card__feature">1 dagdeel cursus</li>
          <li class="demo-card__feature">Sed posuere consectetur</li>
        </ul>
        <button class="demo-card__button btn btn-orange">
          Plan hier je demo
        </button>
      </div>
      <img
        class="demo-card__image"
        alt="Plan je demo"
        src="../assets/democard-image.png"
      />
    </div>
    <div class="triangle"></div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.demo-card {
  box-sizing: content-box;
  padding: 60px 60px 0px 60px;
  background-color: white;
  width: 330px;
  position: relative;
}

.demo-card__text {
  padding-top: 16px;
}

.demo-card__inner {
  display: flex;
}

.demo-card__feature-list {
  list-style-type: none;
  padding-top: 30px;
}

.demo-card__feature {
  color: var(--orange-light);
  padding: 2px 0px;
  white-space: nowrap;
  font-weight: 600;
  line-height: 30px;
}

.demo-card__button {
  margin-top: 36px;
}

.demo-card__image {
  width: 80%;
  height: auto;
}

.triangle {
  position: absolute;
  left: -34px;
  top: 88%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 35px 35px;
  border-right: none;
  z-index: 20;
  border-color: transparent transparent #ffffff transparent;
}

@media screen and (max-width: 1260px) {
  .demo-card__image {
    display: none;
  }
  .demo-card {
    padding: 30px;
    text-align: center;
    width: auto;
  }

  .demo-card__inner {
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .triangle {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .demo-card {
    padding: 30px;
    text-align: center;
  }

  .demo-card__inner {
    justify-content: center;
    text-align: center;
  }
}
</style>
