<template>
  <bar class="feature">
    <ul class="feature-list">
      <li class="feature-list__item">
        <img alt="Icon knipoog" src="../assets/icon-wink.png" /> 2 jaar garantie
      </li>
      <li class="feature-list__item">
        <img alt="Icon gezicht man" src="../assets/icon-face-male.png" />Bij u
        op locatie geleverd en geïnstalleerd
      </li>
      <li class="feature-list__item">
        <img alt="Icon klok" src="../assets/icon-time.png" />
        Meestal binnen 2 weken geleverd
      </li>
      <li class="feature-list__item">
        <img alt="Icon klok" src="../assets/icon-time.png" /> Gratis demo
      </li>
    </ul>
  </bar>
</template>

<script>
import Bar from "./base/Bar.vue";
export default {
  components: { Bar },
};
</script>

<style scoped>
.feature-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-list__item {
  font-size: 16px;
  display: flex;
  font-weight: 500;
  line-height: 30px;
  align-items: center;
  color: var(--blue-dark);
}

.feature-list__item img {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .feature-list {
    max-width: 95%;
    margin: 0 auto;
  }
  .feature-list__item {
    flex: 0 0 49%;
  }
}

@media screen and (max-width: 640px) {

  .feature {
    display: none;
  }
}

</style>
