<template>
  <footer class="footer">
    <div class="top-footer">
      <div>
        <ul class="footer__link-list">
          <p class="footer__list-header">Menu</p>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/home">Home</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/machines">Machines</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/service-support"
              >Service & Support</a
            >
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/kenniscentrum">Kenniscentrum</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="footer__link-list">
          <p class="footer__list-header">Mogelijkheden</p>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/decorbouw">Decorbouw</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/interieurbouw">Interieurbouw</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/maquettes">Maquettes</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/modelbouw">Modelbouw</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/reclame">Reclame</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/stempels-lasergraveren"
              >Stempels lasergraveren</a
            >
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/telefoonhoesjes-lasergraveren"
              >Telefoonhoesje lasergraveren</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="footer__link-list">
          <p class="footer__list-header">Toepassingen</p>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/acrylaatplaat">Acrylaatplaat</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/armaflex-snijden"
              >Armaflex snijden</a
            >
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/fiberglass">Fiberglass</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/filters-lasersnijden"
              >Filters lasersnijden</a
            >
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/glas-graveren">Glas graveren</a>
          </li>
          <li class="footer__list-item text-gray text-normal">
            <a class="footer__link" href="/hardboard-lasersnijden"
              >Hardboard lasersnijden</a
            >
          </li>
          <li class="footer__list-item text-normal">
            <a class="link" href="/alle">Bekijk alle toepassingen</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="footer__link-list">
          <p class="footer__list-header">Contactgegevens</p>
          <li class="footer__list-item text-gray text-normal">Straatnaam 12</li>
          <li class="footer__list-item text-gray text-normal">
            1234 AB Woonplaats, Nederland
          </li>
          <li class="footer__list-item ">
            <span>T.</span
            ><a class="link" href="tel:085-1234567">085-1234567</a>
          </li>
          <li class="footer__list-item ">
            <span class="">E.</span
            ><a class="link" href="mailto: info@website.nl">info@website.nl</a>
          </li>
          <div class="footer__icons">
            <a href="/facebook">
              <div class="icon-shield footer__icon">
                <img class="icon" src="../assets/icon-facebook.png" />
              </div>
            </a>
            <a href="/twitter">
              <div class="icon-shield footer__icon">
                <img class="icon" src="../assets/icon-twitter.png" />
              </div>
            </a>
            <a href="/instagram">
              <div class="icon-shield footer__icon">
                <img class="icon" src="../assets/icon-instagram.png" />
              </div>
            </a>
            <a href="/youtube">
              <div class="icon-shield footer__icon">
                <img class="icon" src="../assets/icon-youtube.png" />
              </div>
            </a>
          </div>
        </ul>
      </div>
    </div>
    <div class="bottom-footer-container">
      <div class="bottom-footer text-gray text-sm">
        <ul class="bottom-footer__list">
          <li class="bottom-footer__list-item">&#169; 2020 Website</li>
          <li class="bottom-footer__list-item"><a>Privacy Statement</a></li>
          <li class="bottom-footer__list-item"><a>Cookie Policy</a></li>
        </ul>
        <p>Ontwikkeld door Every Day</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style scoped>
.top-footer {
  padding: 64px 16px;
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.footer__icons {
  display: flex;
  margin-top: 24px;
}

.footer__icon {
  margin-right: 10px;
}

.footer__list-header {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 32px;
}

.footer__list-item {
  margin-bottom: 8px;
  
  line-height: 30px;
}

.footer__list-item span {
  margin-right: 4px;
  color: var(--blue);
  font-weight: 500;
}

.footer__list-item .footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__link:hover {
  text-decoration: underline;
}

.bottom-footer-container {
  border-top: solid 1px rgba(14, 78, 173, 0.1);
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 20px 16px;
}

.bottom-footer__list {
  display: flex;
  align-items: center;
}
.bottom-footer__list-item {
  margin-right: 28px;
}

@media screen and (max-width: 768px) {
  .footer__list-item {
    margin-right: 8px;
    line-height: 1;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 640px) {
  .top-footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 32px 16px;
  }
  .footer__list-header {
    margin-bottom: 8px;
    margin-top: 24px;
  }

  

  .bottom-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bottom-footer__list {
    flex-direction: column;
    text-align: center;
  }
  .bottom-footer__list-item {
    margin-right: 0px;
  }
}
</style>
