<template>
  <nav class="navbar">
    <p class="logo logo-light">website</p>
    <div class="navbar__inner ">
      <ul class="navbar__link-list">
        <li><a class="navbar__link text-lg" href="/machines">Machines</a></li>
        <li>
          <a class="navbar__link text-lg dropdown"
            >Mogelijkheden <img src="../assets/chevron_down.png"
          /></a>
        </li>
        <li>
          <a class="navbar__link text-lg dropdown"
            >Toepassingen <img src="../assets/chevron_down.png"
          /></a>
        </li>
        <li>
          <a class="navbar__link text-lg" href="/kenniscentrum"
            >Kenniscentrum</a
          >
        </li>
      </ul>
      <button class="btn btn-orange navbar__button">Demo aanvragen</button>
    </div>
    <mobile-nav @close="onClose" v-if="isOpen">
      <template v-slot:logo><p class="logo logo-light">website</p></template>
      <template v-slot:links>  <ul class="navbar__link-list">
         
        <li><a class="navbar__link text-lg" href="/machines">Machines</a></li>
        <li>
          <a class="navbar__link text-lg dropdown"
            >Mogelijkheden <img src="../assets/chevron_down.png"
          /></a>
        </li>
        <li>
          <a class="navbar__link text-lg dropdown"
            >Toepassingen <img src="../assets/chevron_down.png"
          /></a>
        </li>
        <li>
          <a class="navbar__link text-lg" href="/kenniscentrum"
            >Kenniscentrum</a
          >
        </li>
      </ul>
      <button class="btn btn-orange navbar__button">Demo aanvragen</button></template>
      
    </mobile-nav>
    <button class="menu-button" @click="toggleMenu">
      <svg
        class="menu-icon"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </nav>
</template>

<script>
import MobileNav from './base/MobileNav.vue';
export default {
  components: { MobileNav },
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    toggleMenu() {
      this.isOpen = !this.isOpen;
    },
    onClose() {
      this.isOpen = !this.isOpen;
    }
  },
  
    
};
</script>

<style scoped>
.navbar {
  background-color: transparent;
  max-width: var(--page-width);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}

.navbar__inner {
  display: flex;
  align-items: center;
}

.navbar__link-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.navbar__link {
  color: #ffffff;
  margin: 0px 28px;
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown img {
  margin-left: 4px;
}

.menu-button {
  display: none;
  background-color: transparent;
}
.menu-icon {
  height: 40px;
  width: 40px;
  color: white;
}

@media screen and (max-width: 1024px) {
  
  .navbar__inner {
    display: none;
  }
  .menu-button {
    display: block;
  }

  .navbar__link-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__link {
    padding: 8px;
    margin: 0;
  }

  .navbar__button {
    margin-top: 16px;
    width: 100%;
  }
}
</style>
