<template>
  <div class="header-container">
    <topbar></topbar>
    <header class="header">
      <navbar />
      <div class="header__inner">
        <div class="header__hero">
          <h1>
            De kennispartner voor lasertechniek
          </h1>
          <p class="header__text">
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit ames risus. Nullam quis risus.
          </p>
        </div>
        <div class="header__democard">
          <democard />
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import Democard from "./Democard.vue";
import Navbar from "./Navbar.vue";
import Topbar from "./Topbar.vue";
export default {
  components: { Navbar, Democard, Topbar },
};
</script>

<style scoped>
.header {
  max-width: var(--page-width);
  padding: 0px 16px;
  margin: 0 auto;
}
.header-container {
  background-image: url("../assets/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__text {
  color: white;
  font-size: 18px;
  margin-top: 18px;
  line-height: 30px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
}

.header__hero {
  max-width: 50%;
}

.header__democard {
  margin-right: -27.5%;
}

@media screen and (max-width: 1600px) {
  .header__democard {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .header__inner {
    padding-top: 14px;
    padding-bottom: 56px;
    align-items: flex-start;
    margin: 0 auto;
  }
  .header__hero {
    max-width: 100%;
  }
}


@media screen and (max-width: 768px) {
  
  .header__inner {
    max-width: 95%;
    flex-direction: column;
  }
  .header__democard {
    margin-top: 56px;
  }
}

@media screen and (max-width: 640px) {

  .header__inner {
    max-width: 100%;
  }
}
</style>
