<template>
  <main class="content">
    <section>
      <h2>Waar ben je naar op zoek?</h2>
      <p class="content__text text-gray">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      </p>
      <div class="content__cards">
        <card class="content__card">
          <template v-slot:image
            ><img alt="Bekijk machines" src="../assets/card-1.png"
          /></template>
          <template v-slot:title
            >Ik wil een 
            lasermachine kopen</template
          >
          <template v-slot:text
            >Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum</template
          >
          <template v-slot:button
            ><button class="btn btn-blue">
              Bekijk al onze machines
            </button></template
          >
        </card>
        <card class="content__card">
          <template v-slot:image
            ><img alt="Materiaal testen" src="../assets/card-2.png"
          /></template>
          <template v-slot:title
            >Ik wil een materiaal
            laten testen</template
          >
          <template v-slot:text
            >Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum</template
          >
          <template v-slot:button
            ><button class="btn btn-blue">
              Laat je materiaal testen
            </button></template
          >
        </card>
        <card class="content__card">
          <template v-slot:image
            ><img alt="Kenniscentrum" src="../assets/card-3.png"
          /></template>
          <template v-slot:title
            >Ik wil kennis over lasermachines opdoen!</template
          >
          <template v-slot:text
            >Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum</template
          >
          <template v-slot:button
            ><button class="btn btn-blue">
              Ga naar onze kennisbank
            </button></template
          >
        </card>
      </div>
    </section>
    <section class="content__about">
      <div class="about__content">
        <h2>Vrotech is jouw kennispartner op het gebied van laser</h2>
        <p class="text-gray about__text">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget
          urna mollis ornare vel eu leo.
        </p>
        <button class="btn btn-blue about__button">
          Bekijk onze lasermachines
        </button>
      </div>

      <div class="about__images">
        <img
          class="about__image--first"
          alt="Lasermachine groot"
          src="../assets/laser-1.png"
        />
        <img
          class="about__image--second"
          alt="Lasermachine klein"
          src="../assets/laser-2.png"
        />
      </div>
    </section>
    <banner />
  </main>
</template>

<script>
import Banner from "./Banner.vue";
import Card from "./base/Card.vue";
export default {
  components: { Card, Banner },
};
</script>

<style scoped>
.content {
  max-width: var(--page-width);
  margin: 0 auto;

  text-align: center;
  padding: 96px 16px 0px 16px;
}

.content__text {
  font-size: 18px;
  line-height: 30px;
}

.content__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
  margin-top: 96px;
  margin-bottom: calc(2 * 96px);
}
.content__card {
  flex: 0 0 32%;
}

.about__image--first {
  position: absolute;
  top: -20%;
  overflow: hidden;
}

.about__image--second {
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 35%;
}

.content__about {
  display: flex;
  text-align: left;
  margin-bottom: 96px;
}

.about__text {
  margin-top: 24px;
  line-height: 30px;
}

.about__button {
  margin-top: 48px;
}

.about__content {
  width: 50%;
}

.about__images {
  position: relative;
  height: 300px;
  width: 50%;
}

.about__image--first {
  position: absolute;
  top: -20%;
  left: -5%;
  overflow: hidden;
}

.about__image--second {
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 15%;
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 48px 16px 0px 16px;
    text-align:left;
  }

  .content__card {
    margin: 24px 0px;
    flex: 0 0 49%;

  
  }

  .content__cards {
    justify-content: space-between;
    margin-top: 48px;
    flex-wrap: wrap;
    margin-bottom: calc(1.5 * 48px);
  }

  .content__about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__images {
    width: 100%;
  }

  .about__content {
    width: 100%;
    max-width: 100%;
  }

  .about__image--first {
    position: absolute;
    top: -10%;
    left: 20%;
    overflow: hidden;
  }

  .about__image--second {
    position: absolute;
    overflow: hidden;
    left: 40%;
    top: 20%;
  }
}

@media screen and (max-width: 768px) {

  .content {
    max-width: 90%;
  }
  .content__about {
    margin-bottom: 48px;
  }
   .content__cards {
    flex-direction: column;
    margin: 24px auto;
  }

  .about__image--first {
    position: absolute;
    overflow: hidden;
    left: 10%;
  }

  .about__image--second {
    position: absolute;
    overflow: hidden;
    top: 10%;
    left: 30%;
  }
  .about__button {
    margin-top: 24px;
  }
}

@media screen and (max-width: 640px) {
    .content__cards {
    flex-direction: column;
    max-width: 100%;
    margin: 24px auto;
  }
  .about__image--first {
    height: auto;
    top: 10%;
    left: 10%;
    width: 80%;
  }

  .about__image--second {
    width: 80%;
    left: 20%;
    top: 30%;
  }
}
</style>
