<template>
  <bar class="topbar">
    <ul class="topbar__link-list">
      <li v-for="(link, i) in links" :key="i">
        <a class="topbar__link text-sm" :href="`/${link.toLowerCase()}`">{{
          link
        }}</a>
      </li>
    </ul>
  </bar>
</template>

<script>
import Bar from "./base/Bar.vue";
export default {
  components: {
    Bar,
  },
  data() {
    return {
      links: [
        "Nieuws",
        "Klantcases",
        "Service & Support",
        "Lease",
        "Trainingen",
        "Lesmateriaal",
        "Contact",
      ],
    };
  },
};
</script>

<style scoped>
.topbar__link-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.topbar__link {
  color: var(--blue-dark);
  text-decoration: none;
  margin-right: 48px;
}

.topbar__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .topbar__link {
    margin-right: 36px;
  }
}

@media screen and (max-width: 640px) {

  .topbar {
    display: none;
  }
}
</style>
