<template>
  <div id="app">
    <PageHeader />
    <FeatureBar />
    <PageContent />
    <Footer />
  </div>
</template>

<script>
import FeatureBar from "./components/FeatureBar.vue";
import PageHeader from "./components/PageHeader.vue";
import PageContent from "./components/PageContent.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    PageHeader,
    FeatureBar,
    PageContent,
    Footer,
  },
};
</script>

<style></style>
