:root {
  --orange: #f77d25;
  --orange-light: #fa812d;
  --blue-light: #f7f9fc;

  --blue: #004faa;
  --gray: #f7f7f7;
  --blue-dark: #031022;

  --page-width: 1110px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Baloo Thambi 2", cursive;
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
  font-weight: 600;

  color: white;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--blue-dark);
  margin: 0;
  line-height: 1;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  color: var(--blue-dark);
  margin: 0;
  line-height: 1;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--blue-dark);
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  padding: 0;
}

button {
  border: none;
  font-family: inherit;
  padding: 0;
}

.text-gray {
  color: var(--blue-dark);
  opacity: 0.5;
}

.text-sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.text-normal {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.btn {
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 28px;
  white-space: nowrap;
}

.btn-orange {
  color: white;
  background-color: var(--orange);
}

.btn-blue {
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: transparent;
}

.btn-blue:hover {
  background-color: var(--blue);
  color: white;
}

.logo {
  font-size: 36px;
  font-weight: 500;
  color: var(--blue-dark);
}

.logo-light {
  color: white;
}

.link {
  color: var(--blue);
  font-weight: 500;
}

.icon-shield {
  height: 46px;
  width: 46px;
  background-color: var(--gray);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }
}
